:root {
  --color-black: #01010A;
  --color-dark: #0B0B14;
  --color-white: #FFFFFF;
  --color-background: #FAFAFA;
  --color-blue: #F2F7FB;
  --color-card: #F5F5F5;
  --color-card-hover: #E9E9E9;
  --color-main: #2675C3;
  --color-main-hover: #1C6BB9;
  --color-placeholder: #797979;
  --color-yellow: #FEBE13;
  --color-violet: #AC4AD5;
  --color-turquoise: #4091E1;
  --color-orange: #F7A225;
  --color-nav: #A7A8AB;
  --color-consultation: #ECECFA;
  --color-border: #D9D9D9;
}

.repairs__block {
  background: var(--color-white);
  border-radius: 10px;
  padding: 30px 30px 30px 50px;
}
.repairs__left {
  padding-top: 10px;
}
.repairs__heading {
  font-weight: 700;
  font-size: 27px;
  line-height: 34px;
  width: 410px;
}
.repairs__list {
  list-style-type: none;
  padding: 31px 0 43px 60px;
}
.repairs__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 27px;
}
.repairs__link:last-child {
  padding-bottom: 0;
}
.repairs__link_gear {
  position: relative;
}
.repairs__link_gear::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: -40px;
  background-image: url("../../images/icon/gear.svg");
}
.repairs__link_shild {
  position: relative;
}
.repairs__link_shild::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 26px;
  top: 0;
  left: -36px;
  background-image: url("../../images/icon/shild.svg");
}
.repairs__link_car {
  position: relative;
}
.repairs__link_car::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 24px;
  top: 0;
  left: -38px;
  background-image: url("../../images/icon/car.svg");
}
.repairs__link_chip {
  position: relative;
}
.repairs__link_chip::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: -38px;
  background-image: url("../../images/icon/chip.svg");
}
.repairs__link_tick {
  position: relative;
}
.repairs__link_tick::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: -38px;
  background-image: url("../../images/icon/tick.svg");
}
.repairs__link_box {
  position: relative;
}
.repairs__link_box::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: -38px;
  background-image: url("../../images/icon/box.svg");
}
.repairs__link_clock {
  position: relative;
}
.repairs__link_clock::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: -38px;
  background-image: url("../../images/icon/clock.svg");
}
.repairs__link_headphones {
  position: relative;
}
.repairs__link_headphones::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: -38px;
  background-image: url("../../images/icon/headphones.svg");
}
.repairs__link_calendar {
  position: relative;
}
.repairs__link_calendar::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: -38px;
  background-image: url("../../images/icon/calendar.svg");
}
.repairs__link_pin {
  position: relative;
}
.repairs__link_pin::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: -38px;
  background-image: url("../../images/icon/pin.svg");
}
.repairs__right {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.repairs__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 960px) {
  .repairs__block {
    padding: 30px 0 0 0;
    background: inherit;
  }
  .repairs__left {
    padding-top: 0;
  }
  .repairs__heading {
    font-size: 22px;
    line-height: 28px;
    width: 100%;
  }
  .repairs__list {
    padding: 22px 0 0 60px;
  }
}/*# sourceMappingURL=repairs.css.map */